* {
  box-sizing: border-box;
}

.filter-file-input {
  &__wrapper {
    &-icon {
      @apply absolute;
      right: 8px;
      bottom: 8px;
      max-height: 2.4rem;
    }
  }
  &__field {
    @apply py-sm px-lg;
    padding-right: 40px;
    min-height: 40px;
    &-option {
      @apply m-none p-none;
      display: none;
      visibility: hidden;
      @apply text-neutral-03;
      user-select: none;
      &--is-selected {
        display: block;
        visibility: visible;
      }
    }
  }
  &__placeholder {
    @apply text-neutral-02;
    display: block;
    visibility: visible;
    user-select: none;
    &--is-hidden {
      display: none;
      visibility: hidden;
    }
  }
  &__options {
    @apply absolute w-full bg-neutral-04 rounded-sm overflow-auto p-none m-none;
    left: 0;
    top: calc(100% + 8px);
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.5);
    max-height: 208px;
    display: none;
    z-index: 1;
    &--is-active {
      display: block;
    }
    &--top {
      bottom: calc(100% + 8px);
      top: auto;
    }
  }
  &__option {
    min-height: 40px;
    font-size: 14px;
    line-height: 20px;
    user-select: none;
    padding: 10px 1.6rem;
    &:hover {
      @apply bg-01;
    }
    &--is-selected {
      @apply bg-02 text-neutral-03 font-bold transition-all;
      display: none;
      &:hover {
        @apply bg-02;
      }
    }
    &--is-disabled {
      @apply text-disabled;
      &:hover {
        @apply cursor-not-allowed;
        background: transparent;
      }
    }
  }
  &__label {
    @apply py-xsm text-small-01 font-black text-neutral-03 block;
  }
  &__input {
    &--is-hidden {
      display: none !important;
    }
  }
  &__dot {
    &-wrapper {
      display: inline-block;
      &--is-hidden {
        display: none;
      }
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      margin: -4px;
    }
    &-item {
      @apply bg-01 flex items-end;
      border-radius: 10px;
      padding: 0.2rem 0.8rem 0.2rem 1.2rem;
      margin: 4px;
    }
    &-text {
      @apply text-small-01;
    }
  }
  cc-input {
    display: inline-block;
    .input__field {
      padding: 0;
    }
  }
}
