html,
body {
  @apply font-sans h-full;
}

html {
  font-size: 62.5%;
}

body {
  @apply text-color-text-01 bg-background-01 font-regular text-body;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  @apply font-black;
}

a {
  @apply text-primary;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
