:root {
  --background-01: #ebf1f5;
  --background-02: #f3f4f6;
  --background-03: #f9fbff;
  --background-04: #f7f7fe;
  --background-05: #f2f9ff;
  --disabled-background: #e6edf2;

  --primary: #6363f6;
  --primary-dark: #5050e7;
  --primary-90: #7373f7;
  --primary-80: #8282f8;
  --primary-70: #a1a1fa;
  --primary-60: #b1b1fa;
  --primary-50: #c1c1fb;
  --primary-40: #d0d0fc;
  --primary-30: #e0e0fd;
  --primary-20: #efeffe;
  --primary-10: #f7f7ff;

  --secondary: #0091ff;
  --secondary-dark: #1288e1;
  --secondary-90: #1a9cff;
  --secondary-80: #4db2ff;
  --secondary-70: #66bdff;
  --secondary-60: #7fc8ff;
  --secondary-50: #99d3ff;
  --secondary-40: #b2deff;
  --secondary-30: #cce9ff;
  --secondary-20: #e5f4ff;
  --secondary-10: #f2f9ff;

  --neutral-01: #b0c0ca;
  --neutral-02: #748e98;
  --neutral-03: #4a4a4a;
  --neutral-04: #ffffff;

  --success: #22aa00;
  --error: #ff385b;
  --alert: #ffc541;

  --disabled-text: #828594;
}
