.tableTags--border--primary {
  border-left: 8px solid red;
}

.tableTags--border--secundary {
  border-left: 8px solid blue;
}

.tableTags--boxcontent-top {
  border-left-width: 8px;
  border-right-width: 10px;
  background-color: #ffffff;
  padding: 3px 20px;
  border-radius: 5px;
  height: 80px;
}

.tableTags--boxcontent-bottom {
  background-color: #ebf1f5;
  padding: 10px;
}
