:host {
  display: block;
}

.tabLine {
  display: flex;
  position: relative;
  overflow: auto;
}

@media (min-width: 992px) {
  .tabLine {
    border-style: none;
    padding-bottom: 0;
  }
}

.tabLine__button {
  -webkit-appearance: button;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  color: inherit;
  border: none;
  font-size: 100%;
  outline: 0;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.43;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 992px) {
  .tabLine__button {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    line-height: 2.4rem;
  }
}

.tabLine__button--sm {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.tabLine__button--disabled {
  color: var(--disabled-text);
  cursor: not-allowed;
}

.tabLine__button--active {
  color: var(--primary);
  position: relative;
}

.tabLine__button--active::before {
  width: 50%;
  position: absolute;
  background-color: var(--primary);
  bottom: 0;
  left: 50%;
  display: inline-block;
  border-radius: 0.4rem;
  content: "";
  height: 0.3rem;
  transform: translateX(-50%);
}

@media (min-width: 992px) {
  .tabLine__button--active::before {
    display: none;
  }
}

.tabLine__button--active.tabLine__button--secondary {
  color: var(--secondary);
}

.tabLine__buttonWrapper {
  display: flex;
  align-items: center;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.tabLine__tag {
  font-weight: 900;
  font-size: 1.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-color: var(--neutral-01);
  color: var(--neutral-01);
  border-radius: 0.4rem;
  margin-right: 2.4rem;
  margin-left: -1.2rem;
  border-width: 0.2rem;
  border-style: solid;
  line-height: 2rem;
}

.tabLine__tag--tabCenter {
  margin-right: auto;
}

.tabLine__underline {
  position: absolute;
  background-color: var(--primary);
  bottom: 0;
  border-radius: 2.4rem;
  display: none;
  transition: all 0.3s ease;
  height: 0.3rem;
}

.tabLine__underline--secondary {
  background-color: var(--secondary);
}

@media (min-width: 992px) {
  .tabLine__underline {
    display: block;
  }
}

.tabLine--center {
  justify-content: space-around;
}

.tabLine--border {
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: var(--neutral-01);
}