:host(.input) {
  @apply block;
}

.input {
  &__field {
    @apply w-full rounded-sm border border-neutral-02 px-lg py-sm bg-neutral-04 text-body block leading-relaxed;

    &:disabled {
      @apply border-disabled;
    }

    .input--success & {
      @apply border-success;
    }

    .input--error & {
      @apply border-error;
    }

    &:focus {
      outline: 0;

      .input--primary & {
        @apply border-primary;
      }

      .input--secondary & {
        @apply border-secondary;
      }

      .input--success & {
        @apply border-success;
      }

      .input--error & {
        @apply border-error;
      }
    }
  }

  &__helperText {
    @apply block text-small-01 mt-xsm text-error;
  }

  &__label {
    @apply block py-xsm text-small-01 font-black text-neutral-03;

    .textarea--disabled & {
      @apply text-disabled;
    }
  }
}
