.input {
  display: block;
}

.input__wrapper {
  position: relative;
}

.input__icon {
  position: absolute;
  right: 0;
  margin-right: 0.8rem;
  display: -webkit-box;
  display: flex;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.input__icon--primary {
  color: var(--primary);
}

.input__icon--secondary {
  color: var(--secondary);
}

.input__field {
  width: 100%;
  border-radius: 0.4rem;
  border-width: 1px;
  border-color: var(--neutral-02);
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-size: 1.4rem;
  display: block;
  line-height: 2.4rem;
}

.input__field:disabled {
  border-color: var(--disabled-background);
}

.input--success .input__field {
  border-color: var(--success);
}

.input--error .input__field {
  border-color: var(--error);
}

.input--without-border .input__field {
  border-width: 0;
}

.input--without-border .input__field:focus-within, .input--without-border .input__field:hover {
  border-width: 0;
}

.input__field:focus {
  outline: 0;
}

.input--primary .input__field:focus {
  border-color: var(--primary);
}

.input--secondary .input__field:focus {
  border-color: var(--secondary);
}

.input--success .input__field:focus {
  border-color: var(--success);
}

.input--error .input__field:focus {
  border-color: var(--error);
}

.input__field::-webkit-input-placeholder {
  color: var(--neutral-02);
}

.input__field::-moz-placeholder {
  color: var(--neutral-02);
}

.input__field:-ms-input-placeholder {
  color: var(--neutral-02);
}

.input__field::-ms-input-placeholder {
  color: var(--neutral-02);
}

.input__field::placeholder {
  color: var(--neutral-02);
}

.input__field--default-bg {
  background-color: var(--neutral-04);
}

.input__field--icon {
  padding-right: 3.8rem;
}

.input__helperText {
  display: block;
  font-size: 1.1rem;
  margin-top: 0.4rem;
  color: var(--error);
}

.input__label {
  display: block;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--neutral-03);
}

.textarea--disabled .input__label {
  color: var(--disabled-text);
}