:host {
  display: block;
  --cc-progress-bar-default-background: var(--primary);
}

:host(.progress-bar--success) {
  --cc-progress-bar-default-background: var(--success);
}

:host(.progress-bar--error) {
  --cc-progress-bar-default-background: var(--error);
}

:host(.progress-bar--alert) {
  --cc-progress-bar-default-background: var(--alert);
}

.progressbar {
  background-color: var(--background-01);
  border-radius: 4px;
  height: 6px;
  width: 100%;
  position: relative;
}

.progressbar__content {
  background: var(--cc-progress-bar-default-background);
  border-radius: 4px;
  height: 6px;
  width: 0;
  max-width: 100%;
}

.progressbar__label {
  display: block;
  font-size: 1.1rem;
  color: var(--disabled-text);
  font-weight: 900;
  padding-top: 6px;
  padding-bottom: 6px;
}

.progressbar__label.completed {
  color: var(--neutral-03);
}

.progressbar__tooltip {
  transition: 0.3s ease all;
  background: var(--cc-progress-bar-default-background);
  white-space: nowrap;
  position: absolute;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: var(--neutral-04);
  display: inline-block;
  border-radius: 0.4rem;
  font-size: 1.1rem;
}

.progressbar__tooltip__container {
  position: relative;
  height: 24px;
  margin-top: 6px;
  margin-bottom: 6px;
}