@import "../../utils/sass/mixins.scss";

:host {
  @apply block;
}

.tabLine {
  @apply flex relative;

  &__button {
    @include reset-button;
    @apply my-md mx-xxlg text-body font-black;
    line-height: 2.4rem;

    &--sm {
      @apply text-small-01;
      line-height: 1.6rem;
    }

    &--disabled {
      @apply text-disabled cursor-not-allowed;
    }

    &--active {
      @apply text-primary;

      &.tabLine__button--secondary {
        @apply text-secondary;
      }
    }
  }

  &__underline {
    @apply absolute bg-primary bottom-0 rounded-lg;
    transition: all 0.3s ease;
    height: 0.3rem;
    &--secondary {
      @apply bg-secondary;
    }
  }

  &--center {
    @apply justify-around;
  }

  &--border {
    @apply border-0 border-b border-solid border-neutral-01;
  }
}
