@import "../../utils/sass/mixins.scss";

:host {
  @apply block;
}

.tabLine {
  @apply flex relative overflow-auto;
  @media (min-width: theme("screens.lg")) {
    @apply border-none pb-none;
  }

  &__button {
    @include reset-button;
    @apply px-lg text-body font-black;
    line-height: 1.43;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media (min-width: theme("screens.lg")) {
      @apply px-xxlg py-md;
      line-height: 2.4rem;
    }

    &--sm {
      @apply text-small-01;
      line-height: 1.6rem;
    }

    &--disabled {
      @apply text-disabled cursor-not-allowed;
    }

    &--active {
      @apply text-primary relative;
      &::before {
        @apply w-1/2 absolute bg-primary bottom-0 left-1/2 inline-block rounded-sm;
        content: "";
        height: 0.3rem;
        transform: translateX(-50%);
        @media (min-width: theme("screens.lg")) {
          @apply hidden;
        }
      }

      &.tabLine__button--secondary {
        @apply text-secondary;
      }
    }
  }

  &__buttonWrapper {
    @apply flex items-center;
    min-width: fit-content;
  }

  &__tag {
    @apply font-black text-small-02 px-xsm border-neutral-01 text-neutral-01 rounded-sm mr-xxlg -ml-md;
    border-width: 0.2rem;
    border-style: solid;
    line-height: 2rem;

    &--tabCenter {
      @apply mr-auto;
    }
  }

  &__underline {
    @apply absolute bg-primary bottom-0 rounded-lg hidden;
    transition: all 0.3s ease;
    height: 0.3rem;

    &--secondary {
      @apply bg-secondary;
    }
    @media (min-width: theme("screens.lg")) {
      @apply block;
    }
  }

  &--center {
    @apply justify-around;
  }

  &--border {
    @apply border-0 border-b border-solid border-neutral-01;
  }
}
