.profileuser .button.sc-cc-button{
    background-color:#b0c0ca;
}
.profileuser > *{
    min-width: 0px;
    min-height: 500px;
}
.border-b{
    min-height: 90px;
}


.profileuser > * > .flex {
    display: block;
    float:right;
}

.relative {
    position: relative;
}

.hySdZr {
    position: absolute;
    top: 68px;
    right: 0px;
}

.shadow {
    box-shadow: 0 4px 16px -8px #b0c0ca;
}

.overflow-hidden {
    overflow: hidden;
}

.rounded-sm {
    border-radius: 0.4rem;
}

.bg-neutral-04 {
    background-color: var(--neutral-04);
}

.cursor-pointer {
    cursor: pointer;
}

.py-xlg {
    border-color: var(--background-01);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mt-sm {
    margin-top: 0.8rem;
}
.text-body {
    min-width: 20.8rem;
    width: 100%;
    display: block;
}

.user__element{
    display: flex;
    height: 48px;
}
.user__element-label{
    line-height: 48px;
}
.user__element-avatar{
    width: 40px;
    margin: 4px 13px 4px 16px;
    height: 40px;
}
.user__element-icon{
    color: #2a3247;
    height: 24px;
    display: table-cell;
    vertical-align: middle;
}
.user__element-toggle{
    display: table;
    height: 48px;
    outline : none;
}


.usermenu__toggle-menu{
    position: absolute;
    top: 68px;
    right: 0px;
    display: none;
}

.usermenu__toggle-user{
    position: relative;
    padding: 0px 0px 0px 15px;
    outline : none;
}

.usermenu__toggle-user:focus{
    outline : none;
}


.menu__element-label {
    line-height: 40px;
    display: block;
    float: left;
}

.menu__element-link{
    line-height: 40px;
    display: block;
    float: left;
    width: 100%;
    color: #4a4a4a;
}
.usermenu__toggle--active  .usermenu__toggle-menu{
    display: block
}

.menu__element-icon{
    display: block;
    height: 40px;
    padding: 4px 0px 4px;
    float: left;
}

.usermenu__toggle-menu-container{
    padding: 8px 0px;
    display: block;
    float: left;
}

