@mixin wrapper-field-state-readonly {
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: transparent;
  }
}

@mixin wrapper-field-state-error {
  @apply border-error;
  &:focus-within,
  &:hover {
    @apply border-error;
  }
  .wrapper-field__icon {
    @apply text-error;
  }
}

@mixin wrapper-field-no-border {
  border-width: 0;

  &:focus-within,
  &:hover {
    border-width: 0;
  }
}

@mixin wrapper-field-state-secondary {
  .wrapper-field__icon {
    @apply text-secondary;
  }
  cc-loader {
    @apply text-secondary;
  }
  &:focus-within,
  &:hover {
    @apply border-secondary;
    .wrapper-field__icon {
      @apply text-secondary;
    }
  }
}

@mixin wrapper-field-no-background {
  background: transparent;
}

@mixin wrapper-field-state-disabled {
  @apply border-disabled cursor-not-allowed;
  .wrapper-field__icon {
    @apply text-disabled;
  }
  &:focus-within,
  &:hover {
    @apply border-disabled;
    @apply text-disabled;
  }
}

@mixin wrapper-field-state-primary {
  &:hover {
    @apply border-primary;
  }
  .wrapper-field__icon {
    @apply text-primary;
  }
  cc-loader {
    @apply text-primary;
  }
}

.wrapper-field {
  $minHeightWrapperBox: 42px;
  @apply relative w-full bg-neutral-04 rounded-sm border border-solid border-neutral-02 text-body block cursor-pointer;
  min-height: $minHeightWrapperBox;
  @include wrapper-field-state-primary;
  &--readonly {
    @include wrapper-field-state-readonly;
  }
  &--no-border {
    @include wrapper-field-no-border;
  }
  &--no-background {
    @include wrapper-field-no-background;
  }
  &--secondary {
    @include wrapper-field-state-secondary;
  }
  &--disabled {
    @include wrapper-field-state-disabled;
  }
  &--error {
    @include wrapper-field-state-error;
  }
  &--helperText {
    @apply mb-lg;
  }
  &--is-focus {
    @apply border-primary;
    &:hover {
      @apply border-primary;
    }
    &.wrapper-field {
      &--secondary {
        @apply border-secondary;
        &:hover {
          @apply border-secondary;
        }
      }
      &--error {
        @include wrapper-field-state-error;
      }
    }
  }
  &__wrapper-icon {
    pointer-events: none;
    @apply absolute;
    right: 8px;
    bottom: 8px;
    max-height: 2.4rem;
  }
  &__icon {
    &--inverted {
      transform: rotate(180deg);
    }
  }
  &__helperText {
    @apply absolute text-small-01 mt-xsm text-error left-0;
  }
}
