* {
  box-sizing: border-box;
}

.filter-file-input__field {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-right: 40px;
  min-height: 40px;
}

.filter-file-input__field-option {
  margin: 0;
  padding: 0;
  display: none;
  visibility: hidden;
  color: var(--neutral-03);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-file-input__field-option--is-selected {
  display: block;
  visibility: visible;
}

.filter-file-input__placeholder {
  color: var(--neutral-02);
  display: block;
  visibility: visible;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-file-input__placeholder--is-hidden {
  display: none;
  visibility: hidden;
}

.filter-file-input__options {
  position: absolute;
  width: 100%;
  background-color: var(--neutral-04);
  border-radius: 0.4rem;
  overflow: auto;
  padding: 0;
  margin: 0;
  left: 0;
  top: calc(100% + 8px);
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.5);
  max-height: 208px;
  display: none;
  z-index: 1;
}

.filter-file-input__options--is-active {
  display: block;
}

.filter-file-input__options--top {
  bottom: calc(100% + 8px);
  top: auto;
}

.filter-file-input__option {
  display: flex;
  align-items: center;
  min-height: 40px;
  font-size: 14px;
  line-height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 1.6rem;
}

.filter-file-input__option:hover, .filter-file-input__option--hover {
  background-color: var(--background-01);
}

.filter-file-input__option--is-selected {
  background-color: var(--background-02);
  color: var(--neutral-03);
  font-weight: 700;
  transition-property: all;
}

.filter-file-input__option--is-selected:hover {
  background-color: var(--background-02);
}

.filter-file-input__option--is-disabled {
  color: var(--disabled-text);
}

.filter-file-input__option--is-disabled:hover {
  cursor: not-allowed;
  background: transparent;
}

.filter-file-input__option-checkbox {
  margin-right: 1.6rem;
}

.filter-file-input__label {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--neutral-03);
  display: block;
}

.filter-file-input__input--is-hidden {
  visibility: hidden;
  position: absolute;
  z-index: -2;
}

.filter-file-input__dot-wrapper {
  display: inline-block;
}

.filter-file-input__dot-wrapper--is-hidden {
  display: none;
}

.filter-file-input__dot-list {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
}

.filter-file-input__dot-item {
  background-color: var(--background-01);
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  padding: 0.2rem 0.8rem 0.2rem 1.2rem;
  margin: 4px;
}

.filter-file-input__dot-text {
  font-size: 1.1rem;
  vertical-align: middle;
}

.filter-file-input__dot-delete {
  display: inline-flex;
  margin-left: 0.8rem;
  vertical-align: text-bottom;
}

.filter-file-input__dot-delete cc-icon {
  display: inline-flex;
  color: inherit;
}

.filter-file-input__icon--inverted {
  transform: rotate(180deg);
}

.filter-file-input cc-input {
  display: inline-block;
}

.filter-file-input cc-input .input__field {
  padding: 0;
}