* {
  box-sizing: border-box;
}

.single-file-input__wrapper-icon {
  position: absolute;
  right: 8px;
  bottom: 8px;
  max-height: 2.4rem;
}

.single-file-input__field {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-right: 40px;
  min-height: 40px;
}

.single-file-input__field-option {
  margin: 0;
  padding: 0;
  display: none;
  visibility: hidden;
  color: var(--neutral-03);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.single-file-input__field-option--is-selected {
  display: block;
  visibility: visible;
}

.single-file-input__field input {
  padding: 0;
}

.single-file-input__placeholder {
  color: var(--neutral-02);
  display: block;
  visibility: visible;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.single-file-input__placeholder--is-hidden {
  display: none;
  visibility: hidden;
}

.single-file-input__options {
  position: absolute;
  width: 100%;
  background-color: var(--neutral-04);
  border-radius: 0.4rem;
  overflow: auto;
  padding: 0;
  margin: 0;
  left: 0;
  top: calc(100% + 8px);
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.5);
  max-height: 208px;
  display: none;
  z-index: 1;
}

.single-file-input__options--is-active {
  display: block;
}

.single-file-input__options--top {
  bottom: calc(100% + 8px);
  top: auto;
}

.single-file-input__option {
  min-height: 40px;
  font-size: 14px;
  line-height: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10px 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-file-input__option span {
  margin-left: 12px;
}

.single-file-input__option:hover {
  background-color: var(--background-01);
}

.single-file-input__option--is-selected {
  background-color: var(--background-02);
  color: var(--neutral-03);
  font-weight: 700;
  transition-property: all;
}

.single-file-input__option--is-selected:hover {
  background-color: var(--background-02);
}

.single-file-input__option--is-disabled {
  color: var(--disabled-text);
}

.single-file-input__option--is-disabled:hover {
  cursor: not-allowed;
  background: transparent;
}

.single-file-input__option--is-hidden {
  display: none;
}

.single-file-input__label {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  font-size: 1.1rem;
  font-weight: 900;
  color: var(--neutral-03);
  display: block;
}