@import "../../utils/sass/mixins.scss";

:host {
  @apply block;
}

.tabTags {
  @apply overflow-hidden;

  &__wrap {
    margin: -1rem -0.6rem;
  }

  &__button {
    @include reset-button;
    @apply font-black text-small-02 px-md rounded-full inline-flex items-center justify-center bg-neutral-04;
    height: 3.2rem;
    margin: 1rem 0.6rem;

    &--active {
      @apply bg-primary text-neutral-04;

      &.tabTags__button--secondary {
        @apply bg-secondary;
      }
    }

    &--disabled {
      @apply text-disabled bg-disabled;
    }
  }
}
