@import url("~choices.js/public/assets/styles/choices.min.css");

@mixin item-state-hover {
  &:not(.choices__placeholder) {
    @apply font-bold;
    color: theme("colors.neutral.03");
    background: theme("backgroundColor.02");
  }
}
@mixin item-state-focus {
  &:not(.choices__placeholder) {
    @apply font-bold;
    color: theme("colors.neutral.02");
    background: theme("backgroundColor.01");
  }
}
@mixin dropdown-state-readonly {
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background: transparent;
  }
}
@mixin dropdown-state-error {
  .dropdown {
    &__input {
      border-color: theme("colors.error");
      &:focus-within {
        border-color: theme("colors.error");
      }
    }
    &__icon {
      color: theme("colors.error");
    }
  }
}
@mixin dropdown-no-border {
  .dropdown {
    &__input {
      border-width: 0;
      &:focus-within {
        border-width: 0;
      }
    }
  }
}
@mixin dropdown-state-secondary {
  .dropdown {
    &__input {
      &:focus-within,
      &:hover {
        border: 1px solid theme("colors.secondary.default");
      }
    }
    &__icon {
      color: theme("colors.secondary.default");
    }
  }
}
@mixin dropdown-state-disabled {
  .dropdown {
    &__input {
      border-color: theme("backgroundColor.disabled");
      &:focus-within {
        border-color: theme("backgroundColor.disabled");
      }
    }
    &__icon {
      @apply text-disabled;
    }
  }
  .choices.is-disabled {
    background: transparent;
    .choices {
      &__inner {
        background-color: transparent;
      }
      &__input {
        background-color: transparent;
      }
      &__item {
        &--selectable {
          @apply text-disabled;
        }
      }
    }
  }
}

.dropdown {
  @apply flex flex-col relative;
  min-width: 150px;
  choicesjs-stencil {
    @apply flex flex-grow;
  }
  position: relative;

  &__helperText {
    @apply block text-small-01 mt-xsm text-error;
  }

  .choices {
    @apply flex items-center;
    position: initial;
    width: 100%;
    &__item {
      &--selectable {
        @apply px-sm text-body font-light;
        margin: 0;
        color: theme("colors.neutral.03");
      }
    }
    &__inner {
      margin: 0;
      padding: 0;
      min-height: auto;
      .choices__item {
        &.choices__item--selectable {
          margin: 0;
          padding: 0;
        }
      }
      .choices__list {
        &--multiple {
          .choices__item {
            &.choices__item--selectable,
            &.is-highlighted {
              @apply text-small-02 border-0;
              color: theme("colors.neutral.03");
              background: theme("backgroundColor.01");
              padding: 0.2rem 0.8rem 0.2rem 1.2rem;
              margin: 0 0.4rem 0 0;
              border-radius: 10px;
              .choices__button {
                @apply border-0;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CgogPGc+CiAgPHRpdGxlPmJhY2tncm91bmQ8L3RpdGxlPgogIDxyZWN0IGZpbGw9Im5vbmUiIGlkPSJjYW52YXNfYmFja2dyb3VuZCIgaGVpZ2h0PSIxMiIgd2lkdGg9IjEyIiB5PSItMSIgeD0iLTEiLz4KIDwvZz4KIDxnPgogIDx0aXRsZT5MYXllciAxPC90aXRsZT4KICA8cGF0aCBzdHJva2U9Im51bGwiIGlkPSJDbG9zZSIgZmlsbD0iIzRhNGE0YSIgZD0ibTUuNzA4MTYsNS4wMDcyNjlsMy45OTMwNTcsLTMuOTcxMjQ4YzAuMTkxNDM4LC0wLjE4OTQ5OSAwLjE5MTQzOCwtMC40OTYyODUgMCwtMC42ODUzYy0wLjE5MDk1MywtMC4xODk0OTkgLTAuNTAxMTMxLC0wLjE4OTQ5OSAtMC42OTIwODUsMGwtMy45ODk2NjUsMy45Njc4NTVsLTQuMDI2NDk4LC00LjAyNjk4M2MtMC4xOTA5NTMsLTAuMTkxNDM4IC0wLjUwMTEzMSwtMC4xOTE0MzggLTAuNjkyMDg1LDBjLTAuMTkwOTUzLDAuMTkxOTIzIC0wLjE5MDk1MywwLjUwMjU4NSAwLDAuNjk0MDIzbDQuMDIzNTkxLDQuMDI0MDc1bC00LjAzODEzLDQuMDE1ODM2Yy0wLjE5MDk1MywwLjE4OTQ5OSAtMC4xOTA5NTMsMC40OTYyODUgMCwwLjY4NTNjMC4xOTA5NTMsMC4xODk0OTkgMC41MDExMzEsMC4xODk0OTkgMC42OTIwODUsMGw0LjAzNDczOCwtNC4wMTI0NDRsNC4wMTA1MDUsNC4wMTA5OWMwLjE5MDk1MywwLjE5MTQzOCAwLjUwMTEzMSwwLjE5MTQzOCAwLjY5MjA4NSwwYzAuMTkwOTUzLC0wLjE5MTkyMyAwLjE5MDk1MywtMC41MDI1ODUgMCwtMC42OTQwMjNsLTQuMDA3NTk3LC00LjAwODA4MnoiLz4KIDwvZz4KPC9zdmc+");
              }
            }
          }
        }
      }
    }

    &__input {
      margin: 0;
      padding: 0;
      min-height: auto;
    }
    &__list {
      @apply mt-sm rounded-sm border-0;
      box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.5);
      &--single {
        margin: 0;
        padding: 0;
      }
      &--dropdown {
        left: 0;
        .choices {
          &__item {
            &--selectable {
              color: theme("colors.neutral.03");
              &:focus,
              &.is-selected {
                @include item-state-focus;
              }
              &:hover,
              &.is-selected:hover {
                @include item-state-hover;
              }
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .choices[data-type*="select-one"] {
    .choices__inner {
      padding: 0;
    }
    &::after {
      display: none;
    }
  }
  &__input {
    /*todo: background 04 */
    @apply px-lg py-sm flex items-center rounded-sm bg-neutral-04;
    border: 1px solid theme("colors.neutral.02");
    &:focus-within,
    &:hover {
      border: 1px solid theme("colors.primary.default");
    }
    .choices {
      &__inner {
        background: transparent;
        border: 0;
      }
      &__input {
        background: transparent;
        border: 0;
      }
    }
  }
  &__text {
    @apply border-0 outline-none;
    background: transparent;
    &:hover {
      outline: none;
    }
  }
  &__icon {
    @apply border-0;
    order: 1;
    color: theme("colors.primary.default");
    &--inverted {
      transform: rotate(180deg);
    }
  }
  &__label {
    @apply py-xsm text-small-01 font-black;
    color: theme("colors.neutral.03");
  }
  &.dropdown {
    &--readonly {
      @include dropdown-state-readonly;
    }
    &--secondary {
      @include dropdown-state-secondary;
    }
    &--error {
      @include dropdown-state-error;
    }
    &--disabled {
      @include dropdown-state-disabled;
    }
    &--no-border {
      @include dropdown-no-border;
    }
  }
  @media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable {
      @apply px-sm;
    }
  }
}
