@import url("~choices.js/public/assets/styles/choices.min.css");

@mixin item-state-hover {
  &:not(.choices__placeholder){
    @apply font-bold;
    color: theme("colors.neutral.03");
    background: theme("backgroundColor.02");
  }
}
@mixin item-state-focus {
  &:not(.choices__placeholder){
    @apply font-bold;
    color: theme("colors.neutral.02");
    background: theme("backgroundColor.01");
  }
}
@mixin dropdown-state-readonly {
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    background: transparent;
  }
}
@mixin dropdown-state-error {
  .dropdown {
    &--input {
      border-color: theme("colors.error");
      &:focus-within {
        border-color: theme("colors.error");
      }
    }
    &__icon {
      color: theme("colors.error");
    }
  }
}
@mixin dropdown-state-secondary {
  .dropdown {
    &--input {
      &:focus-within, &:hover {
        border: 1px solid theme("colors.secondary.default");
      }
    }
    &__icon {
      color: theme("colors.secondary.default");
    }
  }
}
@mixin dropdown-state-disabled {
  .dropdown {
    &--input {
      border-color: theme("backgroundColor.disabled");
      &:focus-within {
        border-color: theme("backgroundColor.disabled");
      }
    }
    &__icon {
      @apply text-disabled;
    }
  }
  .choices.is-disabled {
    background: transparent;
    .choices {
      &__inner {
        background-color: transparent;
      }
      &__input {
        background-color: transparent;
      }
      &__item {
        &--selectable {
          @apply text-disabled;
        }
      }
    }
  }
}

.dropdown {
  @apply flex flex-col relative;
  min-width: 150px;
  choicesjs-stencil {
    @apply flex flex-grow;
  }
  position: relative;

  .choices {
    @apply flex items-center;
    position: initial;
    width: 100%;
    &__item {
      &--selectable {
        @apply px-sm text-body font-light;
        margin: 0;
        color: theme("colors.neutral.03");
      }
    }
    &__inner {
      margin: 0;
      padding: 0;
      min-height: auto;
      .choices__item {
        &.choices__item--selectable {
          margin: 0;
          padding: 0;
        }
      }
    }
    &__input {
      margin: 0;
      padding: 0;
      min-height: auto;
    }
    &__list {
      @apply mt-sm rounded-sm border-0;
      box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.5);
      &--single {
        margin: 0;
        padding: 0;
      }
      &--dropdown {
        left: 0;
        .choices {
          &__item {
            &--selectable {
              color: theme("colors.neutral.03");
              &:focus, &.is-selected {
                @include item-state-focus;
              }
              &:hover, &.is-selected:hover {
                @include item-state-hover;
              }
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .choices[data-type*=select-one] {
    .choices__inner {
      padding: 0;
    }
    &::after {
      display: none;
    }
  }
  &--input {
    @apply px-lg py-sm flex items-center rounded-sm;
    border: 1px solid theme("colors.neutral.02");
    &:focus-within, &:hover  {
      border: 1px solid theme("colors.primary.default");
    }
    .choices {
      &__inner {
        background: transparent;
        border: 0;
      }
      &__input {
        background: transparent;
        border: 0;
      }
    }
  }
  &__text {
    @apply border-0 outline-none;
    background: transparent;
    &:hover {
      outline: none;
    }
  }
  &__icon {
    @apply border-0;
    order: 1;
    color: theme("colors.primary.default");
    &--inverted {
      transform: rotate(180deg);
    }
  }
  &.dropdown {
    &--readonly {
      @include dropdown-state-readonly;
    }
    &--secondary {
      @include dropdown-state-secondary;
    }
    &--error {
      @include dropdown-state-error;
    }
    &--disabled {
      @include dropdown-state-disabled;
    }
  }
}


