@import url("~choices.js/public/assets/styles/choices.min.css");

.dropdown {
  @apply flex flex-col relative;
  min-width: 150px;
  choicesjs-stencil {
    @apply flex flex-grow;
  }
  
  .choices {
    @apply flex items-center;
    position: initial;
    width: 100%;
    &__item {
      &--selectable {
        @apply px-sm text-body font-light;
        margin: 0;
        color: theme("colors.neutral.02");
      }
    }
    &__inner {
      margin: 0;
      padding: 0;
      padding-bottom: 0;
      min-height: auto;
      .choices__item {
        &.choices__item--selectable {
          margin: 0;
          padding: 0;
        }
      }
    }
    &__input {
      margin: 0;
      padding: 0;
      min-height: auto;
    }
    &__list {
      @apply mt-sm rounded-sm border-0;
      box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.5);
      &--single {
        margin: 0;
        padding: 0;
      }
      &--dropdown {
        left: 0; 
        .choices {
          &__item {
            &--selectable {
              color: theme("colors.neutral.03");
              &:hover {
                @apply font-bold;
                background: theme("colors.background.02");
              }
              &::after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .choices[data-type*=select-one] {
    .choices__inner {
      padding: 0;
    }
    &::after {
      display: none;
    }
  }
  &--input {
    @apply px-lg py-sm flex items-center rounded-sm;
    border: 1px solid theme("colors.primary.neutral.02");
    &:focus-within {
      border: 1px solid theme("colors.primary.default");
    }
    .choices {
      &__inner {
        background: transparent;
        border: 0;
      }
      &__input {
        background: transparent;
        border: 0;
      }
    }
  }
  &__text {
    @apply border-0 outline-none;
    background: transparent;
    &:hover {
      outline: none;
    }
  }
  &__icon {
    @apply border-0;
    order: 1;
    color: theme("colors.primary.default");
    &--inverted {
      transform: rotate(180deg);
    }
  }
  &.dropdown {
    &--error {
      .dropdown {
        &--input {
          border-color: theme("colors.error");
          &:focus-within {
            border-color: theme("colors.error");
          }
        }
        &__icon {
          color: theme("colors.error");
        }
      }
    }
    &--disabled {
      .dropdown {
        &--input {
          border-color: theme("backgroundColor.disabled");
          &:focus-within {
            border-color: theme("backgroundColor.disabled");
          }
        }
        &__icon {
          @apply text-disabled;
        }
      }
      .choices.is-disabled {
        background: transparent;
        .choices {
          &__inner {  
            background-color: transparent;
          }
          &__input {
            background-color: transparent;
          }
          &__item {
            &--selectable {
              @apply text-disabled;
            }
          }
        }
      }
    }
  }
}


