.navbar {
  width: 8.8rem;
  overflow: hidden;
}

.navbar__toggle .button.sc-cc-button {
  border-radius: 0;
  width: 8.8rem;
  height: 7.2rem;
}

.navbar__list {
  background-color: var(--neutral-04);
  width: 8.8rem;
}

.navbar__list--vertical .button__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__item-text {
  font-size: 1.1rem;
}

.navbar__item {
  width: 8.8rem;
  height: 7.2rem;
}

.navbar__item .button.sc-cc-button {
  border-radius: 0;
  width: 8.8rem;
  height: 7.2rem;
}

.navbar__item a.button--clear {
  color: var(--neutral-02);
  width: 8.8rem;
}

.navbar__item--selected a.button--clear {
  color: var(--primary);
}