:host {
  @apply inline-block;
  --cc-button-color-base: theme("colors.primary.default");
  --cc-button-color-dark: theme("colors.primary.dark");
  --cc-button-color-lightest: theme("colors.primary.10");
  --cc-button-color-contrast: theme("colors.neutral.04");
}

:host(.button--block) {
  @apply block;
}

:host(.button--secondary) {
  --cc-button-color-base: theme("colors.secondary.default");
  --cc-button-color-dark: theme("colors.secondary.dark");
  --cc-button-color-lightest: theme("colors.secondary.10");
  --cc-button-color-contrast: theme("colors.neutral.04");
}

.button {
  @apply border-0 px-lg py-xsm flex items-center justify-center text-body font-bold rounded-sm outline-none w-full leading-8;
  border: 1px solid transparent;
  line-height: 2.4rem;
  box-sizing: border-box;
  font-family: inherit;
  height: 4.8rem;
  background-color: var(--cc-button-color-base);
  color: var(--cc-button-color-contrast);
  cursor: pointer;
  text-decoration: none;

  &--glow {
    background-image: linear-gradient(
      var(--cc-button-color-base) 0%,
      var(--cc-button-color-base) 50%,
      var(--cc-button-color-dark) 50%,
      var(--cc-button-color-dark) 100%
    );
  }

  &__text {
    @apply inline-flex;
  }

  &__icon {
    @apply mr-xsm;

    .button--reverse & {
      margin-right: 0;
      @apply ml-xsm;
    }

    .button--iconOnly & {
      margin: 0;
    }
  }

  &--iconOnly {
    width: 4.8rem;
  }

  &--md {
    height: 4rem;

    &.button--iconOnly {
      width: 4rem;
    }
  }

  &--sm {
    @apply text-small-02 font-black;
    line-height: 1.6rem;
    height: 3.2rem;

    &.button--iconOnly {
      width: 3.2rem;
    }
  }

  &--reverse {
    @apply flex-row-reverse;
  }

  &--outline {
    border-color: var(--cc-button-color-base);
    color: var(--cc-button-color-base);
    background: var(--cc-button-color-contrast);

    &.button--glow {
      background-image: linear-gradient(
        var(--cc-button-color-contrast) 0%,
        var(--cc-button-color-contrast) 50%,
        var(--cc-button-color-lightest) 50%,
        var(--cc-button-color-lightest) 100%
      );
    }
  }

  &--clear {
    background: transparent;
    color: var(--cc-button-color-base);
  }

  &:disabled,
  &--disabled {
    background: none;
    @apply bg-disabled text-disabled cursor-not-allowed;

    &.button--clear {
      background: transparent;
    }

    &.button--outline {
      @apply bg-neutral-04 border-disabled;
    }
  }
}
